<div class="grid">
  <div class="col-12">
    <div class="card">
        <h5>Phases</h5>
        <p>You see all the phases defined for the process</p>

        <p-orderList [value]="phases" [listStyle]="{ 'max-height': '30rem' }" header="Phases" [dragdrop]="true" (onSelectionChange)="select($event)" (onReorder)="reorder($event)">
          <ng-template pTemplate="header">
            <div class="p-d-flex p-jc-between p-ai-center" style="display: flex; justify-content: space-between;
            align-items: end;">
              <button type="button" pButton pRipple label="Add new phase" (click)="create()" ></button>
              <div class="p-d-flex p-jc-between p-ai-center" style="display: flex; justify-content: space-between;
              align-items: end;">
                <p-button styleClass="p-button-warning" style="margin-right: 8px;" [disabled]="!selectedPhase" label="Edit phase" (click)="edit(selectedPhase)"></p-button>
                <p-button styleClass="p-button-danger" [disabled]="!selectedPhase"  label="Delete phase" (click)="deleteEvent(selectedPhase)"></p-button>
              </div>

            </div>
          </ng-template>
          <ng-template let-phase pTemplate="item">
              <div class="flex align-items-center p-2 w-full flex-wrap">
                  <div class="flex-1">
                      <h5 class="mb-2">{{ phase.name }}</h5>
                  </div>
              </div>
          </ng-template>
      </p-orderList>

    </div>
  </div>
</div>
